body{
  margin: 0;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #40514E;
}
h1 {
  margin-top: 0 ;
  font-size:562.5%; /*check rem if problem with font */
  margin: 50px auto 0 auto;
  color: black;
}
h2 {
  font-size: 1.5rem;
  font-weight:normal;
  color: black;
  padding-bottom: 10px;
}
h3 {
  color: black;
}
div {
  background-color: lightgreen;
}
p{
  line-height: 2;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 80%;
  margin: 80px auto;
}
a {
  color: black;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6
}
/*******************class******************/
.copyright {
  font-size: 0.75rem;
}
.hr-contact {
  margin-bottom: 30px;
}
.contact-me {
  background-color: lightgreen;
}

.intro {
  width: 30%;
  margin: auto;
}
.mountain{
  margin-bottom: 15px;
}
.top-container{
  background-color: lightgreen;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: lightgreen
}
.bottom-container{
margin-top: 0px;
padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position:absolute;
  left: 10%;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 20%;
  top: 50px;
}
.badminton{

  height: 100px;
  width: 100px;
  float: left;
  margin-right: 50px;
}
.codeing{
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 50px
}
.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
.badmintion-para{
  /*clear: left;*/
}
.code-para{
  /*clear: right;*/
}
.btn {
  background: #11edd4;
  background-image: -webkit-linear-gradient(top, #11edd4, #2980b9);
  background-image: -moz-linear-gradient(top, #11edd4, #2980b9);
  background-image: -ms-linear-gradient(top, #11edd4, #2980b9);
  background-image: -o-linear-gradient(top, #11edd4, #2980b9);
  background-image: linear-gradient(to bottom, #11edd4, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link {
  margin-top: 30px;
}
